<template></template>

<script lang="ts">
import { inject } from "vue"
import useGames from "@/composables/useGames"

export default {
  async setup() {
    const ctx: any = inject("context")
    const { fetchGame } = useGames()
    const id = ctx.route.params.gameId

    const game = await fetchGame(id)
    console.log(game)

    return {}
  },
}
</script>

<style lang="scss" scoped></style>
