@font-face {
    font-family: "Oswald";
    src: url("../../static/fonts/Oswald-ExtraLight.ttf");
    src: url("../../static/fonts/Oswald-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url("../../static/fonts/Oswald-Light.ttf");
    src: url("../../static/fonts/Oswald-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Oswald";
    src: url("../../static/fonts/Oswald-Regular.ttf");
    src: url("../../static/fonts/Oswald-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Oswald";
    src: url("../../static/fonts/Oswald-Medium.ttf");
    src: url("../../static/fonts/Oswald-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url("../../static/fonts/Oswald-SemiBold.ttf");
    src: url("../../static/fonts/Oswald-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url("../../static/fonts/Oswald-Bold.ttf");
    src: url("../../static/fonts/Oswald-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
