header,
body {
    background-color: $c-accent;
}

.wrapper {
    max-width: $wrapper-width;
    margin: 0 auto;
    @include laptop() {
        padding: 0 1rem;
    }
}

* {
    color: white;
    font-family: "Oswald";
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $c-accent;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: $c-primary;
    border-radius: 5px;
}

#app {
    width: 100vw;
    height: 100vh;
}
