html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  margin: 0 auto;
  outline: none;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  cursor: pointer;
}

li {
  pointer-events: auto;
  list-style-type: none;
  line-height: normal;
}

ul li::before {
  font-size: 0;
  content: none;
}

ol li::before,
ul li::before {
  color: transparent;
  position: relative;
  transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

.disable-scroll {
  overflow: hidden !important;
}

.description-text {
  display: block;
  column-count: 2;
  column-gap: 50px;
}
