<template>
  <div class="explore-wrapper">
    <div v-for="game in games" :key="game._id" class="game-card">
      <h3 class="game-card__title">
        {{ game.name }}
      </h3>
      <p class="game-card__description">
        {{ game.shortDescription }}
      </p>
      <div class="game-card__redirect">
        <Link text="Explore" :to="`/explore/${game._id}`" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Link from "components/molecules/BaseLink.vue"
import useGames from "@/composables/useGames"

export default {
  components: { Link },
  async setup() {
    const { fetchAllGames } = useGames()

    const games = await fetchAllGames()

    return { games }
  },
}
</script>

<style lang="scss" scoped>
.explore-wrapper {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  .game-card {
    width: 100%;
    border: solid 2px $c-primary;
    border-radius: 10px;
    padding: 20px;
    &__title {
      color: $c-primary;
      font-size: 25px;
      margin-bottom: 20px;
    }
    &__description {
      color: $c-secondary;
      letter-spacing: 0.6px;
      margin-bottom: 50px;
    }
  }
}
</style>
