<template>
  <Dashboard v-if="isAuth" />
  <Landing v-else />
</template>

<script lang="ts">
import { inject } from "vue"
import Landing from "@/pages/Landing.vue"
import Dashboard from "@/pages/Dashboard.vue"
export default {
  components: { Landing, Dashboard },
  setup() {
    const ctx: any = inject("context")
    const isAuth = ctx.store.isAuth
    return { isAuth }
  },
}
</script>

<style lang="scss" scoped></style>
