<template>
  <form class="login-form" @submit="handleSubmitForm">
    <h2 class="login-form__title">Login</h2>
    <div v-if="reqError" class="request-error-field">
      {{ reqError }}
    </div>
    <div class="login-form__field" v-for="(input, i) in formFields" :key="i">
      <Input
        :label="input.label"
        variation="rounded"
        :password="input.pass"
        :error="input.error"
        :errorMsg="input.errorMsg"
        @changeValue="(val) => handleInputChange(i, val)"
      />
    </div>
    <div class="login-form__redirect">
      Don't have an account?
      <span @click="goToRegister" class="login-form__redirect-link"
        >Register</span
      >
    </div>
    <div class="login-form__submit">
      <Button :disabled="btnDisabled" text="Login" variation="primary" />
    </div>
  </form>
</template>

<script lang="ts">
import { inject, reactive, ref, computed } from "vue"

import useAuth from "@/composables/useAuth"

import Input from "components/atoms/TextInput.vue"
import Button from "components/atoms/BaseButton.vue"

export default {
  components: { Input, Button },
  setup() {
    const ctx: any = inject("context")
    const { login, validateField } = useAuth()
    const btnDisabled = computed(() => ctx.store.state.interaction.isProccesing)

    const reqError = ref("")
    const formFields: any = reactive([
      {
        label: "Username",
        type: "username",
        value: "",
        error: false,
        errorMsg: "",
      },
      {
        label: "Password",
        type: "password",
        value: "",
        error: false,
        errorMsg: "",
      },
    ])

    function handleInputChange(ind: number, value: string) {
      formFields[ind].value = value
    }

    function goToRegister() {
      ctx.router.push("register")
    }

    async function handleSubmitForm(e: any) {
      e.preventDefault()

      if (!formFields[0].value) {
        formFields[0].error = true
        formFields[0].errorMsg = "Fill this field"
        return
      }

      if (!formFields[1].value) {
        formFields[1].error = true
        formFields[1].errorMsg = "Fill this field"
        return
      }

      const data: any = {
        name: formFields[0].value,
        password: formFields[1].value,
      }
      try {
        ctx.store.toggleProccesing(true)
        const { token, userInfo, error } = await login(data)
        if (error) {
          if (error === "Invalid credentials") {
            reqError.value = "Invalid username or password"
          } else {
            reqError.value = "An error occured, sorry :("
          }
          return
        }
        const { username, email } = userInfo
        setTimeout(() => {
          ctx.store.setUserData(token, username, email)
          ctx.store.toggleProccesing(false)
          ctx.router.push("/")
        }, 1000)
      } catch (error) {
        reqError.value = "An error occured, sorry :("
        ctx.store.toggleProccesing(false)
      }
    }

    return {
      formFields,
      goToRegister,
      btnDisabled,
      reqError,
      handleSubmitForm,
      handleInputChange,
    }
  },
}
</script>

<style lang="scss" scoped>
.request-error-field {
  font-size: 24px;
  margin-bottom: 30px;
  color: $c-tertiary;
}
.login-form {
  padding-top: 50px;
  width: 40%;
  margin: 0 auto;
  &__title {
    font-size: 30px;
    color: $c-secondary;
    text-align: center;
    margin-bottom: 40px;
  }
  &__redirect {
    font-size: 20px;
    &-link {
      cursor: pointer;
      color: $c-contrast;
    }
  }
  &__field {
    width: 100%;
    margin-bottom: 25px;
  }
  &__submit {
    padding-top: 40px;
  }
}
</style>
