<template>
  <form class="register-form" @submit="handleSubmitForm">
    <h2 class="register-form__title">Register</h2>
    <div v-if="reqError" class="request-error-field">
      {{ reqError }}
    </div>
    <div class="register-form__field" v-for="(input, i) in formFields" :key="i">
      <Input
        :label="input.label"
        variation="rounded"
        :password="input.pass"
        :error="input.error"
        :errorMsg="input.errorMsg"
        @changeValue="(val) => handleInputChange(i, val)"
      />
    </div>
    <div class="register-form__redirect">
      Already have and account?
      <span @click="goToLogin" class="register-form__redirect-link">Login</span>
    </div>
    <div class="register-form__submit">
      <Button :disabled="btnDisabled" text="Register" variation="primary" />
    </div>
  </form>
</template>

<script lang="ts">
import { inject, reactive, ref, computed } from "vue"

import useAuth from "@/composables/useAuth"

import Input from "components/atoms/TextInput.vue"
import Button from "components/atoms/BaseButton.vue"

export default {
  components: { Input, Button },
  setup() {
    const ctx: any = inject("context")
    const { register, validateField } = useAuth()
    const btnDisabled = computed(() => ctx.store.state.interaction.isProccesing)

    const reqError = ref("")
    const formFields: any = reactive([
      {
        label: "Username",
        type: "username",
        value: "",
        error: false,
        errorMsg: "",
      },
      {
        label: "Email",
        type: "email",
        value: "",
        error: false,
        errorMsg: "",
      },
      {
        label: "Password",
        type: "password",
        value: "",
        pass: true,
        error: false,
        errorMsg: "",
      },
      {
        label: "Repeat password",
        type: "rePass",
        value: "",
        pass: true,
        error: false,
        errorMsg: "",
      },
    ])

    function handleInputChange(ind: number, value: string) {
      formFields[ind].value = value
    }

    function goToLogin() {
      ctx.router.push("login")
    }

    async function handleSubmitForm(e: any) {
      e.preventDefault()

      // ! Validations
      // let err = false
      // for (let i = 0; i < formFields.length; i++) {
      //   const { value, type } = formFields[i]
      //   const { error } = validateField(type, value)
      //   if (error) {
      //     err = true
      //     formFields[i].error = true
      //     formFields[i].errorMsg = value ? error : "Fill this field"
      //   }
      // }
      // if (err) return

      const data: any = {
        username: formFields[0].value,
        email: formFields[1].value,
        password: formFields[2].value,
      }
      ctx.store.toggleProccesing(true)

      try {
        const { token, error, userInfo } = await register(data)

        if (error) {
          if (error === "Username taken") {
            formFields[0].error = true
            formFields[0].errorMsg = "Username already exists"
          } else if (error === "Email taken") {
            formFields[1].error = true
            formFields[1].errorMsg = "Username already exists"
          } else {
            reqError.value = "An error occured, sorry :("
          }
          return
        }

        const { username, email } = userInfo
        setTimeout(() => {
          ctx.store.setUserData(token, username, email)
          ctx.store.toggleProccesing(false)
          ctx.router.push("/")
        }, 1000)
      } catch (error) {
        reqError.value = "An error occured, sorry :("
        ctx.store.toggleProccesing(false)
      }
    }

    return {
      reqError,
      goToLogin,
      formFields,
      btnDisabled,
      handleSubmitForm,
      handleInputChange,
    }
  },
}
</script>

<style lang="scss" scoped>
.request-error-field {
  font-size: 24px;
  margin-bottom: 30px;
  color: $c-tertiary;
}
.register-form {
  padding-top: 50px;
  width: 40%;
  margin: 0 auto;
  &__title {
    font-size: 30px;
    color: $c-secondary;
    text-align: center;
    margin-bottom: 40px;
  }
  &__field {
    width: 100%;
    margin-bottom: 25px;
  }
  &__redirect {
    font-size: 20px;
    &-link {
      color: $c-contrast;
      cursor: pointer;
    }
  }
  &__submit {
    padding-top: 40px;
  }
}
</style>
