<template>
  <button
    :class="`btn ${variation} ${disabled ? 'disabled' : ''}${
      active ? 'active' : ''
    }`"
    @click="disabled ? '' : $emit('clickBtn')"
  >
    {{ text }}
  </button>
</template>

<script lang="ts">
export default {
  props: {
    variation: {
      type: String,
      default: "primary",
    },
    text: { type: String, default: "Button" },
    disabled: Boolean,
    active: Boolean,
  },
  setup() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
.btn {
  width: 100%;
  max-height: 100%;
  font-size: 16px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  cursor: pointer;
  padding: 13px 20px;
  &:hover,
  &:focus {
    outline: none;
    color: $c-secondary;
    border-color: $c-secondary;
  }
  &.active {
    color: $c-tertiary;
    border-color: $c-tertiary;
  }
  &.disabled {
    cursor: default;
    pointer-events: none;
    color: gray;
    border-color: gray;
  }
}

.primary {
  background-color: $c-accent;
  color: $c-primary;
  border: solid $c-primary 2px;
}

.tertiary {
  background-color: $c-contrast;
  color: $c-tertiary;
  border: solid $c-tertiary 2px;
  &.active,
  &:focus {
    color: $c-primary;
    border-color: $c-primary;
  }
}
</style>
