<template>
  <img src="../../../static/icons/dyk-logo.svg" img-fallback class="logo"/>
</template>

<script lang="ts">
export default {
  setup() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
</style>
