<template>
  <header :class="`header ${isProccessing ? '' : 'hasBorder'}`">
    <div class="header__left">
      <div class="header__item">
        <BaseLink to="/explore" text="Explore" />
      </div>
    </div>
    <div class="header__logo" @click="redirectTo('/')">
      <Logo />
    </div>
    <div v-if="isAuth" class="header__right">
      <div class="header__item">
        <div class="header__profile">Hello there, {{ username }}</div>
      </div>
      <div class="header__item">
        <Button text="Logout" @clickBtn="logout" />
      </div>
    </div>
    <div v-else class="header__right">
      <div class="header__item">
        <BaseLink to="/login" text="Login" />
      </div>
      <div class="header__item">
        <BaseLink to="/register" text="Register" />
      </div>
    </div>
  </header>
  <div v-if="isProccessing" class="proccess-loader"></div>
</template>

<script lang="ts">
import { inject, computed } from "vue"
import Logo from "components/atoms/Logo.vue"
import BaseLink from "components/molecules/BaseLink.vue"
import Button from "components/atoms/BaseButton.vue"

export default {
  components: { Logo, BaseLink, Button },
  async setup() {
    const ctx: any = inject("context")
    const isProccessing = computed(
      () => ctx.store.state.interaction.isProccesing,
    )

    const isAuth = ctx.store.isAuth
    const username = computed(() => ctx.store.state.user.username)

    function redirectTo(route: string) {
      ctx.router.push(route)
    }
    function logout() {
      ctx.store.logout()
    }
    return { username, logout, isAuth, redirectTo, isProccessing }
  },
}
</script>

<style lang="scss" scoped>
.header {
  height: 120px;
  max-width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  border-bottom: solid 3px transparent;
  &.hasBorder {
    border-bottom: solid 3px $c-primary;
  }
  &__left,
  &__right {
    display: flex;
    align-items: center;
    width: calc(50% - 45px);
    gap: 20px;
  }
  &__logo {
    width: 90px;
    height: 100%;
    padding: 10px 0;
    cursor: pointer;
  }
  &__right {
    flex-direction: row;
    justify-content: flex-end;
  }
  &__profile {
    color: $c-secondary;
    font-size: 22px;
  }
}

@keyframes animate-bg {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

.proccess-loader {
  width: 100%;
  height: 3px;
  margin-top: -3px;
  background: linear-gradient(
    90deg,
    $c-contrast,
    $c-monarch,
    $c-secondary,
    $c-japaneseLaurel,
    $c-tertiary
  );
  background-size: 600% 600%;
  animation-name: animate-bg;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
</style>
