<template>
  <router-view v-slot="{ Component }">
    <suspense>
      <template #default>
        <div>
          <Header />
          <component :is="Component" />
        </div>
      </template>
      <template #fallback>
        <loading />
      </template>
    </suspense>
  </router-view>
</template>

<script lang="ts">
import { provide } from "vue"
import { useRoute, useRouter } from "vue-router"
import store from "./store"

import { AppContext } from "@/shared/interfaces"

import Header from "components/organisms/Header.vue"
import loading from "components/atoms/Loader.vue"

export default {
  components: { Header, loading },
  setup() {
    const context: AppContext = {
      store,
      router: useRouter(),
      route: useRoute(),
    }
    store.getUserData()

    provide("context", context)
    return {}
  },
}
</script>

<style lang="scss">
@import "./assets/scss/_index.scss";
</style>
